<footer class="footer">

    <div class="flex footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur nostrum ratione, non temporibus
                eius aperiam aliquid dicta quam, vel dolorem sed odit veritatis explicabo quaerat dignissimos
                consectetur cumque vero. Obcaecati?
            </p>
        </section>

        <address>
            <h2 class="footer__title">Contato</h2>
            <ul class="flex">
                <li> <i class="fa-solid fa-envelope"></i> email@email.com </li>
                <li> <i class="fa-solid fa-phone"></i> (99) 9999-9999 </li>
                <li> <i class="fa-brands fa-whatsapp"></i> (00) 0000-0000 </li>

                <div class="flex div-brands">

                    <li> <a> <i class="fa-brands fa-facebook"></i> </a> </li>

                    <li> <a> <i class="fa-brands fa-instagram"></i> </a> </li>

                    <li> <a> <i class="fa-brands fa-twitter"></i> </a> </li>

                    <li> <a> <i class="fa-brands fa-linkedin"></i> </a> </li>
                    
                </div>
            </ul>
        </address>
    </div>

    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>


</footer>