<h2 class="contact__title">Entre em contato</h2>

<section class="contact__container flex">

    <form class="contact-form flex" [formGroup]="formContato" (ngSubmit)="enviarFormulario()">

        <!-- NOME -->
        <input type="text" placeholder="Digite o seu nome" formControlName="nome"
            [class.valid]="formContato.controls['nome'].valid"
            [class.invalid]="formContato.controls['nome'].invalid && (formContato.controls['nome'].touched || formContato.controls['nome'].dirty)" />

        <div
            *ngIf="formContato.controls['nome'].invalid && (formContato.controls['nome'].touched || formContato.controls['nome'].dirty)">
            <small class="error-message" *ngIf="formContato.controls['nome'].hasError('minlength')">
                Esse campo precisa de no minimo 3 caracteres.
            </small>

            <small class="error-message" *ngIf="formContato.controls['nome'].hasError('required')">
                Esse campo precisa ser preenchido.
            </small>
        </div>


        <!-- ASSUNTO -->

        <input type="assunto" placeholder="Digite o assunto" formControlName="assunto" />

        <div
            *ngIf="formContato.controls['assunto'].invalid && (formContato.controls['assunto'].touched || formContato.controls['assunto'].dirty)">
            <small class="error-message" *ngIf="formContato.controls['assunto'].hasError('required')">
                Esse campo precisa ser preenchido.
            </small>
        </div>

        <!-- TELEFONE -->

        <input type="tel" placeholder="(00) 0 0000-0000" mask="(00) 0 0000-0000" formControlName="telefone" />

        <div
            *ngIf="formContato.controls['telefone'].invalid && (formContato.controls['telefone'].touched || formContato.controls['telefone'].dirty)">
            <small class="error-message" *ngIf="formContato.controls['telefone'].hasError('minlength')">
                Esse campo precisa de no minimo 11 numeros.
            </small>

            <small class="error-message" *ngIf="formContato.controls['telefone'].hasError('required')">
                Esse campo precisa ser preenchido.
            </small>
        </div>

        <!-- EMAIL -->

        <input type="email" placeholder="Digite o seu e-mail" formControlName="email"/>

        <div
            *ngIf="formContato.controls['email'].invalid && (formContato.controls['email'].touched || formContato.controls['email'].dirty)">

            <small class="error-message" *ngIf="formContato.controls['email'].hasError('email')">
                Esse campo precisa ser um email válido.
            </small>

            <small class="error-message" *ngIf="formContato.controls['email'].hasError('required')">
                Esse campo precisa ser preenchido.
            </small>
        </div>

        <!-- TEXT AREA -->

        <textarea maxlength="300" placeholder="Digite a sua mensagem" formControlName="mensagem"></textarea>
        <div
            *ngIf="formContato.controls['mensagem'].invalid && (formContato.controls['mensagem'].touched || formContato.controls['mensagem'].dirty)">

            <small class="error-message" *ngIf="formContato.controls['mensagem'].hasError('required')">
                Esse campo precisa ser preenchido.
            </small>
        </div>

        <!-- BOTAO -->

        <button type="submit" [disabled]="formContato.invalid">Enviar</button>
    </form>

    <address>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.8578626195376!2d-38.48758257737957!3d-3.7454791662771796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74f48300b9ffd%3A0xb833cd546a847312!2sParque%20Estadual%20do%20Coc%C3%B3!5e0!3m2!1spt-BR!2sbr!4v1688924269042!5m2!1spt-BR!2sbr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Av. Padre Antônio Tomás, s/n - Cocó, Fortaleza - CE, 60060-170</p>
    </address>
</section>